.zoom {
  align-content: center;
  max-width: auto;
  max-height: 450px;
  padding-right: 100px;
  padding-left: 100px;
}

.poetry-img {
  align-content: center;
  max-width: auto;
  max-height: 450px;
  padding-right: 100px;
  padding-left: 100px;
}

.gallery-item {
  padding: 20px;
}

.iframe {
  display: block;
  width: 100%;
  pointer-events: none;
}

.video {
  padding: 0;
  max-width: 640px; 
}

.text-container {
  max-width: 500px;
  padding-left: 10vw;
  padding-right: 15vw;
}

.entrance-container {
  max-width: 500px;
  padding-left: 30vw;
  padding-right: 70vw;
  white-space: nowrap
}

.title-container {
  max-width: 500px;
  padding-left: 10vw;
  padding-right: 15vw;
  white-space: nowrap
}

.end-container {
  max-width: 500px;
  padding-left: 40vw;
  padding-right: 10vw;
  white-space: nowrap
}
